server:
  port: 8100
spring:
  application:
    name: cambio-service
  datasource:
    url: jdbc:postgresql://localhost/cambio_service
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    locations:
    - classpath:/db_migration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    healthcheck:
      enabled: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include:
        - '*'